# **Introducción al análisis de datos en Python** 
#### Profesor: Lucas Gómez Tobón

## Ejercicios 5. Continuación de Pandas

1. Importe los dos csvs de encuestas: `encuesta_hogares1.csv` y `encuesta_hogares2.csv`

In [45]:
import os
import pandas as pd

In [46]:
os.getcwd()

'c:\\Users\\Lucas\\OneDrive - Universidad de los Andes\\Complementarias\\Proyectos de analítica en Python\\Intro_Python\\Introducción al Análisis de Datos en Python\\Clase 5\\Scripts'

In [47]:
encuesta1 = pd.read_csv('..\Datos\encuesta_hogares1.csv') 
encuesta2 = pd.read_csv('..\Datos\encuesta_hogares2.csv')

2. Inspeccione sus datos

In [48]:
encuesta1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DIRECTORIO      250 non-null    int64
 1   HOGAR_NUMERO    250 non-null    int64
 2   PERSONA_NUMERO  250 non-null    int64
 3   edad            250 non-null    int64
 4   sexo            250 non-null    int64
dtypes: int64(5)
memory usage: 9.9 KB

In [49]:
encuesta1.head()

   DIRECTORIO  HOGAR_NUMERO  PERSONA_NUMERO  edad  sexo
0       36228             1               2    53     2
1       36252             1               2    64     2
2       36281             1               2    88     2
3       36297             1               2    25     2
4       36313             1               1    66     2

In [50]:
encuesta2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DIRECTORIO      250 non-null    int64
 1   HOGAR_NUMERO    250 non-null    int64
 2   PERSONA_NUMERO  250 non-null    int64
 3   edad            250 non-null    int64
 4   sexo            250 non-null    int64
dtypes: int64(5)
memory usage: 9.9 KB

In [51]:
encuesta2.head()

   DIRECTORIO  HOGAR_NUMERO  PERSONA_NUMERO  edad  sexo
0       43678             1               1    40     2
1       43709             1               4    24     2
2       43721             1               1    42     1
3       43764             1               1    36     1
4       43908             1               1    48     1

3. ¿Qué tipo de pegue podría hacer?

**R// Concatenar por filas**

4. Realice el pegue que definió anteriormente

In [52]:
# Pegar filas
encuesta = pd.concat([encuesta1, encuesta2], axis = 0)
encuesta.head()

   DIRECTORIO  HOGAR_NUMERO  PERSONA_NUMERO  edad  sexo
0       36228             1               2    53     2
1       36252             1               2    64     2
2       36281             1               2    88     2
3       36297             1               2    25     2
4       36313             1               1    66     2

5. Importe la hoja parteA de `info_accidentes.xlsx`

In [53]:
accidentes1 = pd.read_excel('../Datos/info_accidentes.xlsx', sheet_name = 'parteA')

6. Importe la hoja parteB de `info_accidentes.xlsx`

In [54]:
accidentes2 = pd.read_excel('../Datos/info_accidentes.xlsx', sheet_name = 'parteB')

7. Inspecciones ambas bases

In [55]:
accidentes1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34931 entries, 0 to 34930
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             34931 non-null  object
 1   GravedadNombre    34931 non-null  object
 2   ClaseNombre       34931 non-null  object
 3   ChoqueNombre      34931 non-null  object
 4   ObjetoFijoCodigo  34931 non-null  object
 5   ObjetoFijoNombre  34931 non-null  object
 6   OtraClase         34931 non-null  object
 7   NombreOtraClase   34931 non-null  object
 8   Latitud           34931 non-null  float64
 9   Longitud          34931 non-null  float64
 10  Direccion         34931 non-null  object
dtypes: float64(2), object(9)
memory usage: 2.9+ MB

In [56]:
accidentes1.head()

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,Direccion
0,01/13/2016 12:00:00 AM,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,KR 101-CL 83 02
1,2016-12-01 00:00:00,Con Heridos,Atropello,,,,,,0.0,0.0,CL 147-KR 7 02
2,01/13/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,CL 19-KR 5 SE 02
3,01/17/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,AC 80-KR 107 02
4,01/18/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,TR 14-CL 48 S 05

In [57]:
accidentes2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34931 entries, 0 to 34930
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha           34931 non-null  object
 1   Direccion       34931 non-null  object
 2   TipoVia1        34931 non-null  object
 3   NumeroVia1      34931 non-null  object
 4   LetraVia1       34931 non-null  object
 5   CardinalVia1    34931 non-null  object
 6   TipoVia2        34931 non-null  object
 7   NumeroVia2      34625 non-null  float64
 8   LetraVia2       34931 non-null  object
 9   CardinalVia2    34931 non-null  object
 10  Localidad       34931 non-null  object
 11  HoraOcurrencia  34931 non-null  object
 12  TipoDiseño      34931 non-null  object
 13  TipoTiempo      34931 non-null  object
 14  TotalMuertos    34931 non-null  int64
 15  TotalHeridos    34931 non-null  int64
dtypes: float64(1), int64(2), object(13)
memory usage: 4.3+ MB

In [58]:
accidentes2.head()

,Fecha,Direccion,TipoVia1,NumeroVia1,LetraVia1,CardinalVia1,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos
0,01/13/2016 12:00:00 AM,KR 101-CL 83 02,KR,101,,,CL,83.0,,,ENGATIVA,12/31/1899 10:30:00 PM,Interseccion,Normal,0,2
1,2016-12-01 00:00:00,CL 147-KR 7 02,CL,147,,,KR,7.0,,,USAQUEN,12/31/1899 03:40:00 PM,Interseccion,Normal,0,1
2,01/13/2016 12:00:00 AM,CL 19-KR 5 SE 02,CL,19,,S,KR,5.0,,E,SAN CRISTOBAL,12/31/1899 07:20:00 AM,Tramo de Via,Normal,0,0
3,01/17/2016 12:00:00 AM,AC 80-KR 107 02,AC,80,,,KR,107.0,,,ENGATIVA,12/31/1899 06:10:00 AM,Tramo de Via,Normal,0,0
4,01/18/2016 12:00:00 AM,TR 14-CL 48 S 05,TR,14,,,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0

8. Defina las variables que serán las llaves de su pegue y luego unifiqueles el formato/tipo.

In [59]:
accidentes1['Direccion'] = accidentes1['Direccion'].astype(str) 
accidentes1['Fecha'] = accidentes1['Fecha'].astype(str)
accidentes2['Direccion'] = accidentes2['Direccion'].astype(str)
accidentes2['Fecha'] = accidentes2['Fecha'].astype(str)

9. Realice un *inner_join*

In [60]:
# Hace un inner join
accidentes = pd.merge(accidentes1, accidentes2, on = ['Direccion', 'Fecha'])

In [61]:
accidentes.head()

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,...,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos
0,01/13/2016 12:00:00 AM,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,...,CL,83.0,,,ENGATIVA,12/31/1899 10:30:00 PM,Interseccion,Normal,0,2
1,2016-12-01 00:00:00,Con Heridos,Atropello,,,,,,0.0,0.0,...,KR,7.0,,,USAQUEN,12/31/1899 03:40:00 PM,Interseccion,Normal,0,1
2,01/13/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,5.0,,E,SAN CRISTOBAL,12/31/1899 07:20:00 AM,Tramo de Via,Normal,0,0
3,01/17/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,107.0,,,ENGATIVA,12/31/1899 06:10:00 AM,Tramo de Via,Normal,0,0
4,01/18/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0

10. Guarde el resultado del pegue como un `pickle` comprimido en un `gzip`.

In [62]:
accidentes.to_pickle('../Datos/info_accidentes.gzip', compression = 'gzip')

11. Para todas las variables de tipo `object` visualice un conteo de los valores únicos siempre y cuando haya menos de 20 valores únicos.

In [63]:
for i in accidentes.select_dtypes("object").columns:
    col = accidentes[i]
    if len(col.unique()) < 20:
        print(col.value_counts())
        print("------------------------------------")

GravedadNombre
Solo Daños     24209
Con Heridos    10654
Con Muertos      560
Name: count, dtype: int64
------------------------------------
ClaseNombre
Choque               30397
Atropello             3695
Caida de ocupante      879
Volcamiento            353
Otro                    94
Autolesion               4
Incendio                 1
Name: count, dtype: int64
------------------------------------
ChoqueNombre
Vehiculo       29289
                5026
Objeto Fijo     1059
Otro              42
Semoviente         7
Name: count, dtype: int64
------------------------------------
ObjetoFijoCodigo
      34364
10      272
2       269
1       251
6       123
4        42
3        40
5        32
8        19
9         8
7         3
Name: count, dtype: int64
------------------------------------
ObjetoFijoNombre
                        34364
Vehiculo estacionado      272
Poste                     264
Muro                      233
Inmueble                  123
Arbol                      40
Barandas                   40
Semaforo                   31
Valla, Señal               19
Separador de calzada       18
Tarima, Caseta              8
Roca                        5
Hidrante                    3
Panel Luminoso              2
Defensa Metalica            1
Name: count, dtype: int64
------------------------------------
OtraClase
     35329
4       80
2        8
3        6
Name: count, dtype: int64
------------------------------------
NombreOtraClase
                                     35329
Aprisionamiento                         80
Caida dentro del vehiculo                8
Caida de objeto sobre el vehiculo        6
Name: count, dtype: int64
------------------------------------
TipoVia1
CL    11717
KR    11706
AV     6468
AK     2622
AC     1538
TR      747
DG      625
Name: count, dtype: int64
------------------------------------
CardinalVia1
     32022
S     2945
E      456
Name: count, dtype: int64
------------------------------------
TipoVia2
CL    18972
KR    15373
DG      334
TR      330
AV      316
AC       69
AK       29
Name: count, dtype: int64
------------------------------------
CardinalVia2
     29699
S     5350
E      374
Name: count, dtype: int64
------------------------------------
Localidad
KENNEDY               4073
USAQUEN               3614
ENGATIVA              3546
SUBA                  3365
FONTIBON              2862
CHAPINERO             2449
PUENTE ARANDA         2443
BARRIOS UNIDOS        1913
TEUSAQUILLO           1799
BOSA                  1533
CIUDAD BOLIVAR        1406
LOS MARTIRES          1189
SANTA FE               974
TUNJUELITO             941
RAFAEL URIBE URIBE     940
SAN CRISTOBAL          867
ANTONIO NARIÑO         675
USME                   660
CANDELARIA             174
Name: count, dtype: int64
------------------------------------
TipoDiseño
Tramo de Via     26436
Interseccion      7538
Glorieta           413
Lote o predio      314
Paso elevado       286
Paso inferior      211
Puente              97
Paso a nivel        82
Cicloruta           23
Via peatonal        13
Tunel                7
Ponton               2
Via troncal          1
Name: count, dtype: int64
------------------------------------
TipoTiempo
Normal           34067
Lluvia            1246
Viento              43
Niebla              35
                    10
Normal/Normal       10
Lluvia/Normal        7
Lluvia/Lluvia        2
Normal/Lluvia        2
Viento/Normal        1
Name: count, dtype: int64
------------------------------------

12. ¿Cuántos muertos y heridos se tiene por Localidad?

In [64]:
accidentes.groupby(['Localidad'])[['TotalHeridos', 'TotalMuertos']].sum()

                    TotalHeridos  TotalMuertos
Localidad
ANTONIO NARIÑO               370            19
BARRIOS UNIDOS               630            23
BOSA                         856            33
CANDELARIA                    65             2
CHAPINERO                    635            15
CIUDAD BOLIVAR               890            40
ENGATIVA                    1252            65
FONTIBON                     843            40
KENNEDY                     1964            78
LOS MARTIRES                 546            20
PUENTE ARANDA               1094            42
RAFAEL URIBE URIBE           601            25
SAN CRISTOBAL                567            19
SANTA FE                     444            16
SUBA                        1339            43
TEUSAQUILLO                  623            17
TUNJUELITO                   580            26
USAQUEN                      898            36
USME                         362            21

13. ¿Cuántos eventos hubo por Tipo de Diseño?

In [65]:
accidentes.groupby(['TipoDiseño']).size()

TipoDiseño
Cicloruta           23
Glorieta           413
Interseccion      7538
Lote o predio      314
Paso a nivel        82
Paso elevado       286
Paso inferior      211
Ponton               2
Puente              97
Tramo de Via     26436
Tunel                7
Via peatonal        13
Via troncal          1
dtype: int64

14. Muestre la suma de muertos y heridos por localidad y tipo de diseño

In [66]:
pd.set_option("display.max_rows", 170)
accidentes.groupby(['Localidad', 'TipoDiseño'])[['TotalHeridos', 'TotalMuertos']].sum()

                                  TotalHeridos  TotalMuertos
Localidad          TipoDiseño
ANTONIO NARIÑO     Glorieta                  2             0
                   Interseccion            132             4
                   Lote o predio             1             0
                   Paso a nivel              0             0
                   Paso elevado              2             0
                   Paso inferior             0             0
                   Puente                    2             0
                   Tramo de Via            231            15
BARRIOS UNIDOS     Cicloruta                 2             0
                   Glorieta                  8             0
                   Interseccion            243             7
                   Lote o predio             0             0
                   Paso a nivel              0             0
                   Paso elevado              1             0
                   Paso inferior             0             0
                   Ponton                    0             0
                   Puente                    1             0
                   Tramo de Via            374            16
                   Via peatonal              1             0
BOSA               Cicloruta                 3             0
                   Glorieta                  4             0
                   Interseccion            217             6
                   Lote o predio             1             0
                   Paso a nivel              1             0
                   Paso elevado              1             0
                   Paso inferior             2             0
                   Puente                    1             0
                   Tramo de Via            623            27
                   Tunel                     3             0
                   Via peatonal              0             0
                   Via troncal               0             0
CANDELARIA         Glorieta                  0             0
                   Interseccion             15             1
                   Lote o predio             0             0
                   Paso inferior             0             0
                   Tramo de Via             50             1
CHAPINERO          Cicloruta                 0             0
                   Glorieta                  1             0
                   Interseccion            164             1
                   Lote o predio             2             0
                   Paso a nivel              2             0
                   Paso elevado              6             0
                   Paso inferior             2             0
                   Ponton                    0             0
                   Puente                    1             0
                   Tramo de Via            456            14
                   Tunel                     1             0
CIUDAD BOLIVAR     Glorieta                  6             0
                   Interseccion            154             3
                   Lote o predio             3             1
                   Paso a nivel              3             0
                   Paso elevado              0             0
                   Paso inferior             7             0
                   Puente                    0             0
                   Tramo de Via            717            35
                   Via peatonal              0             1
ENGATIVA           Cicloruta                 6             0
                   Glorieta                  4             0
                   Interseccion            389             6
                   Lote o predio             3             0
                   Paso a nivel              0             0
                   Paso elevado             10             2
                   Paso inferior             5             0
                   Puente                    7             0
                   Tramo de Via            828            57
FONTIBON           Cicloruta                 1             0
                   Glorieta                  1             0
                   Interseccion            188             8
                   Lote o predio             3             0
                   Paso a nivel              0             0
                   Paso elevado              7             0
                   Paso inferior            17             0
                   Puente                    8             0
                   Tramo de Via            617            32
                   Tunel                     0             0
                   Via peatonal              1             0
KENNEDY            Cicloruta                 7             0
                   Glorieta                 13             1
                   Interseccion            364             8
                   Lote o predio             9             1
                   Paso a nivel              1             0
                   Paso elevado             20             0
                   Paso inferior             4             0
                   Puente                    4             0
                   Tramo de Via           1542            68
LOS MARTIRES       Glorieta                  3             0
                   Interseccion            209             4
                   Lote o predio             4             0
                   Paso a nivel              0             0
                   Paso elevado              6             0
                   Paso inferior             2             0
                   Puente                    0             0
                   Tramo de Via            322            16
                   Via peatonal              0             0
PUENTE ARANDA      Cicloruta                 1             0
                   Glorieta                 15             0
                   Interseccion            313             5
                   Lote o predio             4             1
                   Paso a nivel              8             0
                   Paso elevado             12             0
                   Paso inferior             4             1
                   Puente                    4             0
                   Tramo de Via            733            35
                   Via peatonal              0             0
RAFAEL URIBE URIBE Glorieta                  9             0
                   Interseccion            181             7
                   Lote o predio             0             0
                   Paso a nivel              0             0
                   Paso elevado              4             0
                   Paso inferior             0             0
                   Tramo de Via            406            18
                   Via peatonal              1             0
SAN CRISTOBAL      Glorieta                  2             0
                   Interseccion            161             3
                   Lote o predio             0             0
                   Paso elevado              1             0
                   Paso inferior             4             0
                   Tramo de Via            397            16
                   Via peatonal              2             0
SANTA FE           Glorieta                  4             0
                   Interseccion            106             4
                   Lote o predio             0             0
                   Paso a nivel              0             0
                   Paso elevado              1             0
                   Paso inferior             1             0
                   Puente                    6             0
                   Tramo de Via            325            12
                   Via peatonal              1             0
SUBA               Cicloruta                 2             0
                   Glorieta                  1             0
                   Interseccion            304            13
                   Lote o predio             5             0
                   Paso a nivel              0             0
                   Paso elevado              5             0
                   Paso inferior             1             0
                   Puente                    3             0
                   Tramo de Via           1017            30
                   Tunel                     1             0
TEUSAQUILLO        Glorieta                  1             0
                   Interseccion            223             3
                   Lote o predio             1             0
                   Paso a nivel              0             0
                   Paso elevado              8             0
                   Paso inferior             9             0
                   Puente                    0             0
                   Tramo de Via            380            14
                   Via peatonal              1             0
TUNJUELITO         Cicloruta                 2             0
                   Glorieta                  4             1
                   Interseccion            217             7
                   Lote o predio             2             0
                   Paso a nivel              0             0
                   Paso elevado              2             0
                   Paso inferior             3             0
                   Puente                    0             0
                   Tramo de Via            350            18
USAQUEN            Cicloruta                 2             0
                   Glorieta                  2             0
                   Interseccion            171             2
                   Lote o predio             4             1
                   Paso a nivel              1             0
                   Paso elevado              0             0
                   Paso inferior             3             0
                   Puente                    5             0
                   Tramo de Via            710            33
USME               Glorieta                  0             0
                   Interseccion             32             0
                   Lote o predio             5             0
                   Paso inferior             1             0
                   Tramo de Via            324            21

In [67]:
pd.reset_option("display.max_rows")

15. Muestre la suma y la desviación estándar de muertos y heridos por localidad y tipo de diseño

In [68]:
accidentes.groupby(['Localidad', 'TipoDiseño'])[['TotalHeridos', 'TotalMuertos']] \
    .agg(['sum', 'std'])

                             TotalHeridos           TotalMuertos
                                      sum       std          sum       std
Localidad      TipoDiseño
ANTONIO NARIÑO Glorieta                 2  0.323381            0  0.000000
               Interseccion           132  0.951022            4  0.137019
               Lote o predio            1  0.707107            0  0.000000
               Paso a nivel             0  0.000000            0  0.000000
               Paso elevado             2  1.154701            0  0.000000
...                                   ...       ...          ...       ...
USME           Glorieta                 0       NaN            0       NaN
               Interseccion            32  0.656144            0  0.000000
               Lote o predio            5  0.527046            0  0.000000
               Paso inferior            1  0.500000            0  0.000000
               Tramo de Via           324  0.844235           21  0.200205

[170 rows x 4 columns]

14. **Manipulación de fechas.** Note que cuando inspeccionamos nuestra base, las columnas `Fecha` y `HoraOcurrencia` son de tipo `object` o sea texto. Sin embargo, las fechas tienen un tipo particular en `pandas` y para poder operar correctamente estas columnas, debemos formatearlas en tipo `datetime`.

In [69]:
accidentes[["Fecha", "HoraOcurrencia"]].head()

                    Fecha          HoraOcurrencia
0  01/13/2016 12:00:00 AM  12/31/1899 10:30:00 PM
1     2016-12-01 00:00:00  12/31/1899 03:40:00 PM
2  01/13/2016 12:00:00 AM  12/31/1899 07:20:00 AM
3  01/17/2016 12:00:00 AM  12/31/1899 06:10:00 AM
4  01/18/2016 12:00:00 AM  12/31/1899 05:00:00 PM

In [70]:
accidentes[["Fecha", "HoraOcurrencia"]].dtypes

Fecha             object
HoraOcurrencia    object
dtype: object

Note que en la variable `Fecha` la hora por default es 12:00 AM. La hora como tal del evento está consignada en la variable `HoraOcurrencia`. Sin embargo, en esa variable la fecha está mal.

Primero codifiquemos la fecha, es lo más fácil. Usando la función `pd.to_datetime()` tenemos la ventaja de que Python infiere el formato de la fecha.

In [74]:
accidentes["Fecha"] = pd.to_datetime(accidentes["Fecha"])
accidentes["Fecha"]

C:\Users\Lucas\AppData\Local\Temp\ipykernel_13512\4127640232.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  accidentes["Fecha"] = pd.to_datetime(accidentes["Fecha"])

0       2016-01-13
1       2016-12-01
2       2016-01-13
3       2016-01-17
4       2016-01-18
           ...
35418   2016-12-31
35419   2016-12-29
35420   2016-12-30
35421   2016-12-30
35422   2016-12-31
Name: Fecha, Length: 35423, dtype: datetime64[ns]

In [75]:
# Podemos extraer elementos relevantes. Número del día
accidentes["Fecha"].dt.day

0        13
1         1
2        13
3        17
4        18
         ..
35418    31
35419    29
35420    30
35421    30
35422    31
Name: Fecha, Length: 35423, dtype: int32

In [76]:
# ¿Qué día de la semana es? 
accidentes["Fecha"].dt.day_of_week

0        2
1        3
2        2
3        6
4        0
        ..
35418    5
35419    3
35420    4
35421    4
35422    5
Name: Fecha, Length: 35423, dtype: int32

In [77]:
# 0 - Lunes
# 1 - Martes
# 2 - Miércoles
# 3 - Jueves
# 4 - Viernes
# 5 - Sábado
# 6 - Domingo
pd.to_datetime("2023-03-30").day_of_week

3

In [78]:
# ¿Qué día del año es?
accidentes["Fecha"].dt.day_of_year

0         13
1        336
2         13
3         17
4         18
        ...
35418    366
35419    364
35420    365
35421    365
35422    366
Name: Fecha, Length: 35423, dtype: int32

In [79]:
# Primer día del año: 1
pd.to_datetime("2023-01-01").day_of_year

1

In [80]:
# Último día del año no bisiesto: 365
pd.to_datetime("2023-12-31").day_of_year

365

In [81]:
# Último día del año bisiesto: 366
pd.to_datetime("2020-12-31").day_of_year

366

In [82]:
# ¿Cuántos días hay en el mes?
accidentes["Fecha"].dt.days_in_month

0        31
1        31
2        31
3        31
4        31
         ..
35418    31
35419    31
35420    31
35421    31
35422    31
Name: Fecha, Length: 35423, dtype: int32

In [83]:
pd.to_datetime("2023-01-01").days_in_month

31

In [84]:
pd.to_datetime("2023-02-01").days_in_month

28

In [85]:
pd.to_datetime("2023-04-01").days_in_month

30

In [86]:
# Nombre del día
accidentes["Fecha"].dt.day_name()

0        Wednesday
1         Thursday
2        Wednesday
3           Sunday
4           Monday
           ...
35418     Saturday
35419     Thursday
35420       Friday
35421       Friday
35422     Saturday
Name: Fecha, Length: 35423, dtype: object

In [87]:
# Extraer mes
accidentes["Fecha"].dt.month

0         1
1        12
2         1
3         1
4         1
         ..
35418    12
35419    12
35420    12
35421    12
35422    12
Name: Fecha, Length: 35423, dtype: int32

In [88]:
# Extraer nombre del mes
accidentes["Fecha"].dt.month_name()

0         January
1        December
2         January
3         January
4         January
           ...
35418    December
35419    December
35420    December
35421    December
35422    December
Name: Fecha, Length: 35423, dtype: object

In [89]:
# Extraer año
accidentes["Fecha"].dt.year

0        2016
1        2016
2        2016
3        2016
4        2016
         ...
35418    2016
35419    2016
35420    2016
35421    2016
35422    2016
Name: Fecha, Length: 35423, dtype: int32

In [90]:
# Se puede extraer la semana del año
accidentes["Fecha"].dt.isocalendar()

       year  week  day
0      2016     2    3
1      2016    48    4
2      2016     2    3
3      2016     2    7
4      2016     3    1
...     ...   ...  ...
35418  2016    52    6
35419  2016    52    4
35420  2016    52    5
35421  2016    52    5
35422  2016    52    6

[35423 rows x 3 columns]

In [91]:
accidentes["Fecha"].dt.isocalendar().week

0         2
1        48
2         2
3         2
4         3
         ..
35418    52
35419    52
35420    52
35421    52
35422    52
Name: week, Length: 35423, dtype: UInt32

15. ¿Cuántos accidentes hubo por mes?

In [92]:
accidentes.assign(mes = lambda x: x.Fecha.dt.month_name()).groupby(["mes"]).size()

mes
April        2890
August       3145
December     3009
February     2694
January      2587
July         2929
June         2871
March        2727
May          3190
November     3151
October      3159
September    3071
dtype: int64

16. ¿Cuántos accidentes hubo por día de la semana? ¿Cuántos muertos y heridos?

In [93]:
accidentes.assign(dia = lambda x: x.Fecha.dt.day_name()).groupby(["dia"]) \
    [['TotalMuertos', 'TotalHeridos']].agg(["size", "sum"])

          TotalMuertos     TotalHeridos
                  size sum         size   sum
dia
Friday            5303  73         5303  2109
Monday            4927  83         4927  2082
Saturday          5186  93         5186  2039
Sunday            4090  78         4090  1881
Thursday          5387  87         5387  2205
Tuesday           5254  89         5254  2123
Wednesday         5276  77         5276  2120

In [94]:
# Creemos una matriz de ocurrencias
accidentes["dia"] = accidentes.Fecha.dt.day
accidentes["mes"] = accidentes.Fecha.dt.month
pd.crosstab(accidentes.dia, accidentes.mes)

mes   1    2    3    4    5    6    7    8    9    10   11   12
dia
1     28   29   40   56   70   56   51   76   62   40   36   79
2    104  102  119   51   68   99   50  107   89   77  113  106
3     90   99  106  118  105   64  103   97   94   86  113  105
4    122  106   73  117  116   83  109  100   92   64   96   95
5     48  122  117  101  112  114  105   64   57  111  125  102
6    115  104  102   98   64   56  126  123  119  121  113   67
7    106   74   81   72  118  124   92   89   94   62   87   94
8    102  117   95   92   95  119   57  111  119  105   98  106
9     92  112   93   80   95  117  105  118  118  105   75  132
10   118   91  117  100  106  103  115  131   60  107  105  127
11   112  125  125  129  111   86   70  150  118  123  141  112
12    91   80  138   64  118   97  126   75  115  114   83  110
13    80   87   58   89  126   93   89  106  114  147   73   95
14    67   72   79  103  122  110   94   55   97  110   93  113
15    87   82   92  112   82   91  110   57  111   91  151  120
16    88   87   91   95  123  108  104  113  126   57  120   94
17    49  115   96   72  111  105   75  112  114   50  118  115
18    78   96  123   89  100  108  121  117   60  127  134   68
19    86   95  122   97  123   69  111  131  100  106  118  103
20    68   96   68  108  112  102   59  103  106  128   70   99
21    65   56   51   97  116   95  109   65  108  122  117  118
22    74   76   89  128   81   82  116  128  117  117  114  100
23    77  107   85   99  113   82   96  119  114   57   83  111
24    51   92   43   70  120  100   53  100   96  108  107   82
25    99   90   37  110  119  100   87  111   90  117  140   42
26    81  111   48  104  120   83  112  109  111  144  111   72
27    96  114   51  104  107  112  112   93   99  107   72  112
28    85   69   98  108  111  101   97   63  113  120  128   94
29    98   88   95  124   55  118  103  114  120  121  122   95
30    76    0  108  103   67   94  112  113  138   93   95   86
31    54    0   87    0  104    0   60   95    0  122    0   55

17. Construya en la base accidentes la columna que indique si es fin de semana o no.

In [95]:
accidentes['fds'] = ((accidentes.dia==5) | (accidentes.dia==6))
accidentes['fds'].value_counts()

fds
False    33037
True      2386
Name: count, dtype: int64

18. Muestre el número de accidentes por si fue en fin de semana y Gravedad del accidente

In [96]:
accidentes.groupby(['fds', 'GravedadNombre']).size().reset_index()

     fds GravedadNombre      0
0  False    Con Heridos   9943
1  False    Con Muertos    513
2  False     Solo Daños  22581
3   True    Con Heridos    711
4   True    Con Muertos     47
5   True     Solo Daños   1628

19. Ahora vamos a formatear la hora

In [97]:
accidentes["HoraOcurrencia"] = pd.to_datetime(accidentes["HoraOcurrencia"])
accidentes["HoraOcurrencia"]

C:\Users\Lucas\AppData\Local\Temp\ipykernel_13512\1624911033.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  accidentes["HoraOcurrencia"] = pd.to_datetime(accidentes["HoraOcurrencia"])

0       1899-12-31 22:30:00
1       1899-12-31 15:40:00
2       1899-12-31 07:20:00
3       1899-12-31 06:10:00
4       1899-12-31 17:00:00
                ...
35418   1899-12-31 13:20:00
35419   1899-12-31 17:20:00
35420   1899-12-31 05:10:00
35421   1899-12-31 09:00:00
35422   1899-12-31 12:00:00
Name: HoraOcurrencia, Length: 35423, dtype: datetime64[ns]

Note que la fecha está errada entonces nos vamos a deshacer de ella

In [98]:
# Debemos definir el formato de horas que queremos
accidentes["HoraOcurrencia2"] = accidentes["HoraOcurrencia"].dt.strftime('%H:%M:%S')
accidentes["HoraOcurrencia2"] # Note que la columna se volvió un object

0        22:30:00
1        15:40:00
2        07:20:00
3        06:10:00
4        17:00:00
           ...
35418    13:20:00
35419    17:20:00
35420    05:10:00
35421    09:00:00
35422    12:00:00
Name: HoraOcurrencia2, Length: 35423, dtype: object

In [99]:
accidentes["HoraOcurrencia"].dt.minute

0        30
1        40
2        20
3        10
4         0
         ..
35418    20
35419    20
35420    10
35421     0
35422     0
Name: HoraOcurrencia, Length: 35423, dtype: int32

In [100]:
accidentes["HoraOcurrencia"].dt.second

0        0
1        0
2        0
3        0
4        0
        ..
35418    0
35419    0
35420    0
35421    0
35422    0
Name: HoraOcurrencia, Length: 35423, dtype: int32

Note que cuando convertimos la columna en `object` ya no podemos acceder a los elementos relevantes de la fecha porque el objeto se vuelve de tipo texto (string).

In [103]:
accidentes["HoraOcurrencia2"].dt.hour

AttributeError: Can only use .dt accessor with datetimelike values